// CONFIGURACIÓN DEL SERVIDOR
PORT=3000

// CONFIGURACIÓN DE LA BASE DE DATOS
DB_HOST=mysql-global
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=angelo

// AUTENTICACIÓN Y SEGURIDAD
JWT_SECRET=Taylor110eAJRL!
